* {
    margin: 0;
    padding: 0;
   
}


body {
    height: 100vh;
    background: url("mountainimg.png") no-repeat center center/cover;
    background-attachment: fixed;
}


nav {
    position: absolute;
    top: 20px;
    right: 50px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    color: white;
}




.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-box {
    width: 300px;
    padding: 30px;
    border-radius: 15px;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 20px rgba(0,0,0,0.2);

    color: white;
    text-align: center;
}


.input-box {
    margin: 15px 0;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    color: white;
    outline: none;
}


.options {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 15px;
}


button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #6fa4ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


a {
    color: #fff;
    text-decoration: none;
}
li:hover{
    color: black;
}

